@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



@keyframes wave {
    0%{
        transform:translate(0%);
    }

    50% {
		transform:translate(50%);
	}

    100% {
    transform:translate(0%) ;
    }
}

@keyframes wave_guide {
    0%{
        transform:translate(0%);
    }

    50% {
		transform:translate(-50%);
	}

    100% {
    transform:translate(0%) ;
    }
}

.gradation_event {
    background-size: 200% 200%;
    animation: Grad 5s ease infinite;
}



.custom_shape_divider {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider svg {
    position: relative;
    display: block;
    width: calc(263% + 1.3px);
    height: 47px;
    transform: rotateY(180deg);
}

.custom_shape_divider .shape_fill {
    fill: #FFFFFF;
    animation: wave 12s ease-in-out infinite;
}

.custom_shape_divider_guide {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_guide svg {
    position: relative;
    display: block;
    width: calc(221% + 1.3px);
    height: 42px;
}

.custom_shape_divider_guide .shape_fill {
    fill: #FFFFFF;
    animation: wave_guide 12s ease-in-out infinite;
}

.custom_shape_divider_bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom svg {
    position: relative;
    display: block;
    width: calc(229% + 1.3px);
    height: 30px;
}

.custom_shape_divider_bottom .shape_fill {
    fill: #FFFFFF;
    animation: wave_guide 15s ease-in-out infinite;
}